@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>lab1</title>
    </head>
    <body>
        <h1>Party : Infromation</h1>
        <p>
            The party is about my birthday
        </p>
        <button><a href="/summary">Summary</a></button>
        <button> <a href="/register">Register</a> </button>
    </body>
</html>
